button:focus,
input:focus {
  outline: none;
}

button {
  border: none;
  background-color: transparent;
}

input {
  background-color: transparent;
}

body {
  background-color: #ffffff;
  padding: 2rem 1rem;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
